<template>
    <div class="container">
        <div id="mute"></div>
        <div class="row justify-content-center">
            <div v-if="errors.length" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Errors!</strong>
                <p v-for="error in errors">Attribute: {{error}} is missing.</p>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Select file</label>
                <input type="file" class="form-control" id="exampleInputEmail1" @change="onFileSelect">

                <label for="imageUrl">Image url: </label>
                <input type="text" id="imageUrl" placeholder="url" @change="imageUrl">

                <div v-if="selectedFile">
                    <label for="width">Width</label>
                    <input type="text" id="width" placeholder="width" @change="setWidth">

                    <label for="height">Height</label>
                    <input type="text" id="height" placeholder="height" @change="setHeight">

                    <label for="method">Select operation</label>
                    <select id="method" @change="setMethod">
                        <option disabled value="" selected>Please select one</option>
                        <option v-for="method in methods">{{method}}</option>
                    </select>

                    <button v-on:click="resize">Resize</button>
                </div>
            </div>
            <hr>
            <div id="preview">
                <img v-if="url" :src="url" alt="uploaded image"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                selectedFile: null,
                url: null,
                width: null,
                height: null,
                selectedMethod: null,
                methods: [
                    'fit',
                    'fill',
                    'scaleWidth',
                    'scaleHeight',
                    'crop'
                ],
                errors: [],
                mute: false
            }
        },
        watch: {
            mute(val) {
                document.getElementById("mute").className = val ? "on" : "";
            }
        },
        methods: {
            imageUrl(event) {

                if (!this.validURL(event.target.value)) {
                    this.missingAttribute('url', true);

                    this.selectedFile = null;
                    this.url = null;
                    return;
                }
                this.missingAttribute('url', false);

                this.selectedFile = event.target.value;
                this.url = event.target.value;
            },
            validURL(str) {
                var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                    '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
                return !!pattern.test(str);
            },
            onFileSelect(event) {
                this.selectedFile = event.target.files[0];
                this.url = URL.createObjectURL(this.selectedFile);
            },
            setWidth(event) {
                if (true === isNaN(event.target.value) || !event.target.value || 0 === event.target.value.length) {
                    this.width = null;
                    return;
                }
                this.width = event.target.value;
            },
            setHeight(event) {

                if (true === isNaN(event.target.value) || !event.target.value || 0 === event.target.value.length) {
                    this.height = null;
                    return;
                }

                this.height = event.target.value;
            },
            setMethod(event) {
                this.selectedMethod = event.target.value;
            },
            missingAttribute(attribute, missing) {

                if (true === missing) {
                    const index = this.errors.indexOf(attribute);
                    if (index < 0) {
                        this.errors.push(attribute);
                    }
                    return;
                }
                const index = this.errors.indexOf(attribute);
                if (index > -1) {
                    this.errors.splice(index, 1);
                }
            },
            checkRequiredAttributes() {
                if (null === this.selectedMethod) {
                    this.missingAttribute('selectedMethod', true);
                } else {
                    this.missingAttribute('selectedMethod', false);
                }

                if (this.selectedMethod === 'scaleWidth') {
                    if (null === this.width) {
                        this.missingAttribute('width', true);
                    } else {
                        this.missingAttribute('width', false);
                    }
                    this.missingAttribute('height', false);

                    return this.errors.length <= 0;
                }

                if (this.selectedMethod === 'scaleHeight') {
                    if (null === this.height) {
                        this.missingAttribute('height', true);
                    } else {
                        this.missingAttribute('height', false);
                    }
                    this.missingAttribute('width', false);

                    return this.errors.length <= 0;
                }

                if (null === this.width) {
                    this.missingAttribute('width', true);
                } else {
                    this.missingAttribute('width', false);
                }
                if (null === this.height) {
                    this.missingAttribute('height', true);
                } else {
                    this.missingAttribute('height', false);
                }

                return this.errors.length <= 0;

            },
            async resize(event) {

                if (false === this.checkRequiredAttributes()) {
                    return;
                }

                const configuration = JSON.stringify({
                    'width': this.width,
                    'height': this.height,
                    'selectedMethod': this.selectedMethod
                });


                let newName = (this.selectedFile.name === undefined) ? Date.now() + 'myImage.jpeg' : Date.now() + this.selectedFile.name;

                this.mute = true;

                let data = new FormData();

                data.append('file', this.selectedFile);
                data.append('name', newName);
                data.append('data', configuration);
                const config = {

                    headers: {'content-type': 'multipart/form-data'}

                };

                await axios.post(`/imageresizer/api/resize`, data, config).then(() => {
                    this.url = 'images/' + newName;
                });
                this.mute = false;

            },

        }
    }
</script>
<style>
    #mute {
        position: absolute;
    }

    #mute.on {
        opacity: 0.7;
        z-index: 1000;
        background: white;
        height: 100%;
        width: 100%;
    }

    #preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        margin: 5px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

</style>
